<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>越南政府看中国</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.min.css">
    <script src="../static/jquery-3.5.1.min.js"></script>
</head>
<body>
    <table class="table table-hover">
        <thead>
            <th>时间</th>
            <th>题目</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="pagenumber" style="width: 250px;height: 30px;position: relative;bottom: 0px;left: 350px">
        <button id="previous" style="position: absolute;left: 0px;width: 70px;height: 30px">上一页</button>
        <span id="page" style="position: absolute;left: 90px;width:100px ;font: normal 15px/30px '宋体'">第__页</span>
        <button id="next" style="position: absolute;right: 0px;width: 70px;height: 30px">下一页</button>
    </div>
    <script src="../static/controller.js"></script>
</body>
</html>